<div id="login-form">
  <form action="/auth/login" method="POST">
  <div class="login-box">
  <h2>Login</h2>
    <div class="user-box">
      <input type="text" name="email" required="">
      <label>Email <span class = "mandatory">*</span></label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="">
      <label>Password <span class = "mandatory">*</span></label>
    </div>
   <button type="submit">Log in</button>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div> 
 <!--!<label> Username
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">Log In</button>-->