
<section>
<div class="about-container">
    <h1>About us</h1>
        <div class="about-text">
            <p>This was our second project in the Ironhack Web development bootcamp and it's been one fun and exhausting project.
                Creating our first full web application and handling both frontend and backend as certainly been a challenge but it's gratifying to see how far we've come.
                We're also writing this in the night before we have to present the projects 🙃.
            </p>
        </div>
        <div class="about-members">
            <div class="member">
                <img src="https://avatars.githubusercontent.com/u/61824985?v=4" alt="Gonçalo Matias">
                <h2>Gonçalo Matias</h2>
                 <div class="about-buttons">
                    <a class="platform-button" href="https://github.com/Gosamat">GITHUB</a>
                    <a class="platform-button" href="https://www.linkedin.com/in/gosamatias/">LINKEDIN</a>
                </div>
            </div>
            <div class="member">
                    <img src="https://avatars.githubusercontent.com/u/113607909?v=4" alt="Mariana Marques">
                    <h2>Mariana Marques</h2>
                    <div class="about-buttons">
                    <a class="platform-button" href="https://github.com/mfilipa97">GITHUB</a>
                    <a class="platform-button" href="https://www.linkedin.com/in/mfilipa97/">LINKEDIN</a>
                    </div>
            </div>
        </div>
        <a class="ironhack-logo" href="https://www.ironhack.com/pt/en/lisbon?adgroup=brand_en&gad=1"><img src="https://res.cloudinary.com/ghostly/image/upload/v1692299071/ironhack-logo-f751cf4738-seeklogo.com_iowex8.png" alt="Ironhack Logo"></a>
</div>
</section>

