<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script><link rel="stylesheet" href="/stylesheets/style.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="/js/script.js"></script>
   <body>
      <div class = "page-container">
         <div class="wrapper">
               <nav>
                  <div class="menu-icon">
                     <i class="fa fa-bars fa-2x"></i>
                  </div>
                  <div class="logo">
                     <a class ="home-link" href="/"> <img src = "https://res.cloudinary.com/ghostly/image/upload/v1692265256/ghostly-tales/icon_white_sryalu.png"> Ghostly Tales</a>
                  </div>
                  <div class="menu">
                  <div class ="links">
                     <ul>
                     <li>
                        <div class="input-container" >
                           <form action="/search" method="GET">
                                 <input type="text" name="query" placeholder="Search for Stories and Users!" class="invisible-input">
                           <button type="submit" class="btn-info2"><img src ="https://res.cloudinary.com/ghostly/image/upload/v1692260855/interface-search-circle-circle-glass-search-magnifying_ccxjbm.svg"></button>
                           </form>
                        </div>
                     </li>
                     <li><a class ="home-link" href="/">About</a></li>
                     {{#if currentUser}}
                     <li><a class="create-story" href="/story/create">Create a Story</a></li>
                     <li><a class="story-list" href="/story/list">Stories</a></li>
                     <li><a class="sign-link" href="/profile/{{currentUser.username}}">Profile</a></li>
                     <li><a class="logout-link" href="/auth/logout">Log Out</a></li>

                        {{else}}
               <li><a class="story-list" href="/story/list">Stories</a></li>
               <li><a class="sign-link" href="/auth/login">Login</a></li>
               <li><a class="sign-link" href="/auth/signup">Sign up</a>
               {{/if}}
            
            </ul>
   </div>
   </div>
      
         </div>
         <section class = "landing-page">
            <h1 class="shaky-text">Ghostly </h1>
            <h1 class="shaky-text">Tales</h1>
            <div class="landing-description">
            <p>Unearth the Supernatural: Share Your Own Ghostly Encounters </p>
            <p>and Dive into Real-Life Tales of the Unexplained! 🌑👻</p>
            </div>
            <a href="/" class="landing-button">JOIN NOW</a>
         
         </section>
         <div>

         </div>
          {{{body}}}
      </div>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
  </body>

</html>