
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');



/* custom scrollbar */
::-webkit-scrollbar {
  width: 1vh;
  position: absolute;
  z-index: 100;
  right: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #33487322;
  border-radius: 10px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #33487365;
}

/* Reset default margin and padding */
body, html {
  margin: 0;
  padding: 0;
}


/* Apply background image */
body {
  background-color: #11c160;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-video{
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  width:100%; 
  height:100vh;
  object-fit: cover;
  object-position: center center;
  filter: brightness(30%);
  

}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width:100%; 
  height:100vh;
  background-color: rgb(0, 0, 0); /* Adjust opacity and color as needed */
  z-index:10;

}

/* Apply margin around the page content */
.page-container {
  padding: 0;
  background-image: url("https://res.cloudinary.com/ghostly/image/upload/v1692266170/ghostly-tales/land-page-background_rdhtwq.png") ;
  background-size:cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-position: bottom center;
  border-radius: 10px;
  background-attachment: fixed;
  height: 96vh;
  margin: 2vh;
  width: 97vw;
  position: relative;
  font-family:'Poppins', sans-serif;
  overflow-y: scroll;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.wrapper {
  height: 114px;
}



/*Navbar open */

/*.btn-info2 img{
  height: 40px;
  width: 40x;
  background: #6bb94d00;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
  font-weight: bold;
  color: white;


}*/

.home-link img{
  width: 50px;
  height: 50px;
}

/* Search */ 
.invisible-input {
  border:rgb(51, 51, 51);
  background-color: rgba(255, 255, 255, 0.014);
  color: white;
  width: 300px
}

/* Search Button */
/*.btn-info2 {
  background: #6bb94d00;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
  font-weight: bold;
  color: white;
 
}

.btn-info2:hover {
  text-shadow: 7px 5px 56px -14px #C3D900;

}*/
.btn-info2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 0;
  height: 2px;
  background-color: var(--hovered-color);
  transition: width 0.3s ease-out;
}

.btn-info2 {
  text-decoration: none;
  color: var(--primary-color);
  position: relative;
}
.btn-info2:hover::after {
  width: 100%;
}

/*end*/


/* end of search */




/* Navbar colored links*/

.menu {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}
.menu {
  --primary-color: #ffffff;
  --hovered-color: rgb(241, 0, 0);
  font-weight: 100;
  gap: 0.5rem;
  align-items: center;
}

.menu ul li {
  font-size: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: var(--primary-color);
  position: relative;
}

.menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--hovered-color);
  transition: width 0.3s ease-out;
}

.menu ul li a:hover::after {
  width: 100%;
}



/*navbar colored links off*/
  .content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  line-height: 60px;
  float: left;
  margin: 16px 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
}
.logo a{
  margin-left: 10px;
  text-decoration: none;
  color: #fff;

}

nav {
  background-image: url("https://res.cloudinary.com/ghostly/image/upload/v1692266170/ghostly-tales/land-page-background_rdhtwq.png") ;
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;  
  width: 97vw;
  border-radius: 10px 10px 0px 0px; 
  line-height: 60px;
  position: fixed;
  z-index: 1000;
  padding: 0;
  height: 10vh;

}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 50px;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 30px;;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width: 786px) {

  .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
  }

  nav ul {
        max-height: 0px;
        background: #000;
  }

  nav.black ul {
        background: #000;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
  }

  .menu-icon {
        display: block;
  }

}
/* NavBar ending */

.landing-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(241, 0, 0);
  width: 96vw;
  height: 86vh;
  margin-top: 50px;
  margin-left: 1vh;
  
  


  
}
.landing-page h1{
  font-size: 150px;
  font-weight: bold;
  margin: -20px;
}

.landing-page p{
  font-size: 15px;
  font-weight: 300;
  margin: 5px;
}
.landing-description{
  height: 100px;
  text-align: center;
  margin-top: 50px;
}




.landing-button {
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 30px;
  background: #11c160;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 25px;
 
}

.landing-button:hover {
  box-shadow: 7px 7px 50px -14px #11ce66;

}

.landing-button:active {

  transform: scale(0.97);
 box-shadow: 7px 5px 56px -10px #11ce66;
}

@keyframes shaky-anim {
  0%, 100% {
    transform: translateX(-7px);
  }
  25%, 75% {
    transform: translateX(5px);
  }
}

.shaky-text {
  animation: shaky-anim 3s ease-in-out infinite;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}

.user-profile{
  margin-left: 1vh;
  margin-top: 150px;

  width: 96vw;
  height: 86vh;
  
}

.bg{
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(-5px);
}